extends /app/templates/layouts/page

block main
  main
    if css
      style !{css}

    if js
      style !{js}

    article.Post
      header.Post-header
        h1.Post-title= title
        time(datetime=date).Post-date= formatDate(date)

      .Post-body!= body
