extends /app/templates/layouts/site

block append opener
  if css
    style !{css}

  if js
    script !{js}

block append main
  article.Post
    header.Post-header
      h1.Post-title
        a.Post-titleLink(href="#{permalink}")= title
      time(datetime=date).Post-date= formatDate(date)

    .Post-body!= body
