extends /app/templates/layouts/page

block append main
  .Page-intro.-text
    p I'm a design-minded developer focusing on front-end systems, process, and teamwork. I automate everything, love the good parts of JavaScript, and actually think CSS is awesome.

    p You can find me living and working in Pittsburgh, PA.

    p I'm currently available for consulting and full time employment. #[a.Cta(href="mailto:hello@robwierzbowski.com", target="_blank") If you#{"'"}d like to work together, let#{"'"}s talk.]

  .Page-writing
    h2.Page-subtitle Writing

    ol.Page-summaries
      each post in posts
        li.Summary
          h3.Summary-title
            a(href="#{post.permalink}")= post.title
          time(datetime="#{post.date}").Summary-date= formatDate(post.date)
          p.Summary-content
            | #{post.summary}
            a(href="#{post.permalink}").Summary-more +
